<div class="wrapper wrapper_padding">
	<section class="skinny_wrapper wrapper_padding">
		<%= form_for @sport, html: { multipart: true } do |f| %>
			
			<% if @sport.errors.any? %>
				<div>
					<%= @sport.errors.count %>
					Prevented this sport from saving
					<ul>
						<% @sport.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>
					</ul>
				</div>
			<% end %>

			<div class="field">
				<%= f.label :name %>
				<%= f.text_field :name %><br>
			</div>
			
			<%= f.fields_for :image do |photo| %>
				<%= photo.label :photo %>:<br>
				<% if @sport.image.present? %>
					<%= image_tag @sport.image.img.url(:xsmall) %>
				<% end %>
			<% end %>

			<div class="field">
				<%= f.label :description %>
				<%= f.text_area :description %>
			</div>	

			<div class="btn">
				<%= f.submit %>
			</div>

			<%= link_to "Back", root_path %>

		<% end %>
	</section>
</div>